<!doctype html>
<html>  
  <head>  
    <title><%= shopName %></title> 
    <link rel="stylesheet" href="public /styles.css">
  </head>  
  <body>  
    <h1>This is the register page</h1> 
    <form method="POST" action="/registered"> 
        First Name: <input type="text" name="first"/> 
        Last Name: <input type="text" name="last"/> 
        Email: <input type="email" name="email" required/>
        <input type="submit" value="OK"/> 
    </form> 
  </body>  
</html>
