<!doctype html>
<html>
  <head>
    <title>Survey - <%= shopName %></title>
    <link rel="stylesheet" href="public /styles.css">
  </head>
  <body>
    <h1>Customer Survey</h1>
    <form method="POST" action="/survey_result">
        First Name: <input type="text" name="first" required><br>
        Surname: <input type="text" name="last" required><br>
        Email: <input type="email" name="email" required><br>
        Age: <input type="text" name="age"><br>
        Drinks you consume:<br>
        <% for(let i=0; i<productCategories.length; i++) { %>
            <input type="radio" name="drink" value="<%= productCategories[i] %>">
            <%= productCategories[i] %><br>
        <% } %>
        Are you a student? <input type="checkbox" name="student"><br>
        <input type="submit" value="Submit Survey">
    </form>
  </body>
</html>
